---
interface Props {
    extraClass?: string
    textColor?: string
    href?: string;
}

const { href = "#", textColor, extraClass} = Astro.props;

---
<a href={href} target="_blank" rel="noopener noreferrer" class=`${textColor} bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:${textColor} dark:hover:bg-gray-700 me-2 mb-2 ${extraClass}`>
    <slot/>
</a>
